## Copyright (C) 2019 - 2025 ENCRYPTED SUPPORT LLC <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

GRUB_DISTRIBUTOR="Whonix-Gateway"
GRUB_THEME="/boot/grub/themes/whonix-gateway/theme.txt"

## Set theme and resolution
rm -f /boot/grub/themes/whonix-gateway/background.png
rm -f /boot/grub/themes/whonix-gateway/theme.txt
if [ -d /sys/firmware/efi ]; then
   ## Can't use "ln" here, /boot may be a FAT32 partition.
   cp -- /boot/grub/themes/whonix-gateway/background-16x9.png /boot/grub/themes/whonix-gateway/background.png
   cp -- /boot/grub/themes/whonix-gateway/theme-16x9.txt /boot/grub/themes/whonix-gateway/theme.txt
   GRUB_GFXMODE="1280x720,auto"
else
   cp -- /boot/grub/themes/whonix-gateway/background-4x3.png /boot/grub/themes/whonix-gateway/background.png
   cp -- /boot/grub/themes/whonix-gateway/theme-4x3.txt /boot/grub/themes/whonix-gateway/theme.txt
   GRUB_GFXMODE="1024x768,auto"
fi
